
*{
    margin: 0;
    padding: 0;
}


/*DESKTOP VERSION HEADER */

@media screen and (min-width: 480px){

    header .flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    #desktop-header {
        width: 100%;
        background-color: white;
        position: fixed;
        z-index: 10;
        height: 4rem;
        top: 0px;
        justify-items: space-between;
    }

    #desktop-header a {
        text-decoration: none;
    }

    #desktop-pagelogo {
        height: 2rem;
        margin-left: 1.5rem;
        justify-items: left;
    }

    #desktop-pagelogo img{
        height: 100%;
    }

    #desktop-pagelogo h2{
        text-transform: uppercase;
        color: black;
        font-size: 1.5rem;
    }

    #academy-span{
        text-transform: uppercase;
        color: lightslategray;

    }

    #desktop-nav-menu {
        margin-left: auto;
        margin-right: 1.5rem;
    }

    #desktop-nav-menu ul{
        max-width: 100%;
        justify-items: space-between;
        align-items: center;
    }

    #desktop-nav-menu li{
        list-style-type: none;
        padding-left: 1rem;
        text-align: center;
    }

    #desktop-nav-menu li a{
        color: #4F4F4F;
        text-decoration: none;
    }

    #mobile-header {
        display: none;
    }

}

/* MOBILE VERSION HEADER */

@media screen and (max-width: 480px){


    #desktop-header {
        display: none;
    }

    #mobile-header{
        position: fixed;
        z-index: 10;
        top: 0px;
        width: 100%;
        height: 64px;
        padding: 0;
        margin: 0;
        background-color: white;
    }

    #mobile-header ul{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        height: 64px;
    }

    #mobile-header ul li{
        list-style-type: none;
        margin: auto;
    }

}

main {
    position: relative;
    top: 4rem;
    right: 0;
}

main .flex-container {
    display: flex;
}

/* BANNER DESKTOP VERSION */

@media screen and (min-width: 480px){

    #banner {
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        background-color: lightgray;
    }

    #bannerimage {
        max-width: 60%;
        padding: 2rem 1.5rem;
    }

    #bannerimage img{
        max-width: 100%;
    }

    #bannercontent {
        max-width: 30%;
        flex-direction: column;
        align-items: flex-start;
        justify-items: center;
        margin-right: 1.5rem;
        text-align: left;
    }

    .button {
        background-color: #4F4F4F;
        color: lightgray;
        padding: 0.5rem;
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
        flex-shrink: 1;
        width: 85%;
    }

    #banner h2{
        font-size: 3vw;
    }

    #banner h4{
        font-size: 1.5vw;
    }

    #banner h2, 
    #banner h4 {
        color: #4F4F4F;
        margin-top: 2rem;
        width: 100%;
        flex-shrink: 1;
    }
}