
*{
    margin: 0;
    padding: 0;
}

html {
    margin: 0 auto;
    max-width: 1920px;
    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 720px) and (orientation: landscape){
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 720px) and (orientation: portrait){
    html {
        font-size: 4px;
    }
}

/*DESKTOP VERSION HEADER */

@media screen and (min-width: 720px) and (orientation: landscape){

    header .flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    #desktop-header {
        width: 100%;
        max-width: 1920px;
        background-color: white;
        position: fixed;
        z-index: 10;
        height: 4rem;
        top: 0px;
    }

    #desktop-header a {
        text-decoration: none;
    }

    #desktop-pagelogo {
        height: 2rem;
        margin-left: 1.5rem;
        justify-items: left;
    }

    #desktop-pagelogo img{
        height: 100%;
    }

    #desktop-pagelogo h2{
        text-transform: uppercase;
        color: black;
        font-size: 1.5rem;
    }

    #academy-span{
        text-transform: uppercase;
        color: lightslategray;

    }

    #desktop-nav-menu {
        margin-left: auto;
        margin-right: 1.5rem;
    }

    #desktop-nav-menu li{
        display: inline-block;
        list-style-type: none;
        padding-left: 1rem;
        text-align: center;
    }

    #desktop-nav-menu li a{
        color: #4F4F4F;
        text-decoration: none;
    }

    #mobile-header {
        display: none;
    }

}

/* MOBILE VERSION HEADER */

@media screen and (max-width: 720px){


    #desktop-header {
        display: none;
    }

    #mobile-header{
        position: fixed;
        z-index: 10;
        top: 0px;
        width: 100%;
        height: 64px;
        padding: 0;
        margin: 0;
        background-color: white;
    }

    #mobile-header ul{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        height: 64px;
    }

    #mobile-header ul li{
        list-style-type: none;
        margin: auto;
    }

}

main {
    position: relative;
    top: 4rem;
    right: 0;
    margin: 0 auto;
    max-width: 1920px;
}

main .flex-container {
    display: flex;
}

/* BANNER DESKTOP VERSION */

@media screen and (min-width: 720px) and (orientation: landscape){

    #banner {
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        background-color: lightgray;
    }

    #bannerimage {
        max-width: 60%;
        padding: 2rem 1.5rem;
    }

    #bannerimage img{
        max-width: 100%;
    }

    #bannercontent {
        max-width: 30%;
        flex-direction: column;
        align-items: flex-start;
        justify-items: center;
        margin-right: 1.5rem;
        text-align: left;
    }

    .button {
        background-color: #4F4F4F;
        color: lightgray;
        padding: 0.5rem;
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
        flex-shrink: 1;
        width: 82%;
    }

    #banner h2{
        font-size: 3rem;
    }

    #banner h4{
        font-size: 1.5rem;
    }

    #banner h2, 
    #banner h4 {
        color: #4F4F4F;
        margin-top: 2rem;
        width: 100%;
        flex-shrink: 1;
    }
}


/* BANNER MOBILE VERSION */

@media screen and (max-width: 720px){

    #banner {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: lightgray;
    }

    #bannerimage {
        width: 100%;
    }

    #bannerimage img{
        max-width: 100%;
    }

    #bannercontent {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 8rem 6rem;
        text-align: left;
    }

    .button {
        background-color: #4F4F4F;
        color: lightgray;
        padding: 2rem;
        text-align: center;
        font-weight: bold;
        font-size: 8rem;
        margin-top: 6rem;
        flex-shrink: 1;
        width: 100%;
    }

    #banner h2{
        font-size: 8rem;
    }

    #banner h4{
        font-size: 4rem;
        margin-top: 8rem;
    }

    #banner h2, 
    #banner h4 {
        color: #4F4F4F;
        width: 100%;
        flex-shrink: 1;
    }
}

/* INFORMATION SECTION */

/*DESKTOP VERSION */

@media screen and (min-width: 720px) and (orientation: landscape){

    #orientation {
        width: 100%;
        background-color: white;
    }

/* LEFT BANNER */

    #orientation-banner {
        flex-direction: column;
        text-align: left;
        max-width: 60%;
        padding: 2rem 1.5rem;
        color: #4F4F4F;
        border-right: lightgrey solid 1px;
    } #item1, 
    #item2 {
        border-bottom: lightgrey double 3px;
    }

    #orientation-image img{
        max-width: 100%;
    }

    #testimonial {
        font-size: 2.5rem;
        max-width: 100%;
    }

    #orientation-banner p{
        max-width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        margin-right: 1.5rem;
        font-size: 1.25rem;
    }

    #testimonial-author{
        font-size: 1rem;
    }

/* RIGHT MENU SECTION */

    #orientation-menu {
        max-width: 40%;
        flex-direction: column;
        margin-top: 1rem;
    }

    .info-image-mobile {
        display: none;
    }

    .menuitem{
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .info-image-desktop {
        width: 35%;
        margin: 1rem;
        flex-grow: 1;
    }

    .info-image-desktop img {
        max-width: 100%;
    }

    .menuitem-content {
        width: 65%;
        text-align: left;
        padding: 0 1rem;
        color: #4F4F4F;
    }

    .menuitem-content h4{
        font-size: 1.5rem;
    }

    .menuitem-content p{
        font-size: 0.9rem;
        font-weight: lighter;
        margin: 0.5rem 0;
    }

    .menuitem-content a{
        font-size: 0.9rem;
        color: darkturquoise;
        font-weight: lighter;
    }

    #orientation-menu #item1, 
    #orientation-menu #item2 {
        border-bottom: lightgrey double 3px;
    }
}

/* MOBILE VERSION */

@media screen and (max-width: 720px) and (orientation:portrait){

    #orientation {
        width: 100%;
        background-color: white;
    }

    #orientation-banner {
        display: none;
    }

    #orientation-menu {
        max-width: 100%;
        flex-direction: column;
        margin-top: 4rem;
    }

    .info-image-desktop {
        display: none;
    }

    .menuitem{
        display: flex;
        flex-flow: column nowrap;
        padding: 0 4rem;
        margin-bottom: 16rem;
    }

    .info-image-mobile {
        margin-bottom: 8rem;
    }

    .info-image-mobile img {
        max-width: 100%;
    }

    .menuitem-content {
        max-width: 100%;
        text-align: left;
        padding-left: 4rem;
    }

    .menuitem-content h4{
        font-size: 6rem;
    }

    .menuitem-content p{
        font-size: 4rem;
        font-weight: lighter;
        margin: 2rem 0;
    }

    .menuitem-content a{
        font-size: 4rem;
        color: darkturquoise;
        font-weight: lighter;
    }
}


/* COURSES SECTION */

/* DESKTOP VERSION */
@media screen and (min-width: 720px) and (orientation: landscape){

    #courses-desktop {
        padding: 2rem 4rem;
        background-color: lightgrey;
        text-align: center;
    }

    #courses-desktop h2{
        color: #4F4F4F;
        font-size: 2.5rem;
    }

    #courses-menu{
        flex-flow: row wrap;
        width: 100%;
        align-content: center;
        justify-content: space-evenly;
    }

    #courses-menu a{
        flex-basis: calc(100% / 4);
        margin: 2rem 1rem 0rem 1rem;
        flex-grow: 1;
        flex-shrink: 1;
        color: #4F4F4F;
        text-decoration: none;
        text-align: left;
        font-weight: lighter;
        font-size: 1rem;
    }

    .courseitem{
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        max-width: 100%;
        height: 100%;
        background-color: white;
    }

    .courses-image-desktop {
        max-width: 100%;
    }

    .courses-image-desktop img{
        width: 100%;
    }

    .courseitem-content {
        margin: 1rem 1rem 1.5rem 1rem;
    }

    .courseitem-content h4{
        font-weight: bold;
        font-size: 1.5rem;
    }

    .courseitem-content h5{
        margin: 0.5rem 0;
        font-size: 1.25rem;
        font-weight: lighter;
    }

    #courses-mobile {
        display: none;
    }
}

/* MOBILE VERSION */

@media screen and (max-width: 720px) and (orientation:portrait){

    #courses-desktop {
        display: none;
    }

    #courses-mobile {
        display: block;
        border-top: lightgray solid 1px;
        border-bottom: lightgrey solid 1px;
        padding: 4rem 4rem;
        text-align: center;
    }

    #courses-mobile h2{
        font-size: 8rem;
        margin: 4rem 0;
    }

    #courses-mobile ul{
        margin: 4rem 0;
    }

    #courses-mobile a{
        color: #4F4F4F;
        text-decoration: none;
    }

    #courses-mobile li{
        list-style-type: none;
        background-color: lightgrey;
        text-align: left;
        padding: 4rem 4rem 6rem 4rem;
        margin: 2rem 0;
        font-size: 6rem;
        font-weight: bold;
    }
}

/*THESIS SECTION */

/*DESKTOP VERSION*/

@media screen and (min-width: 720px) and (orientation: landscape){

    #thesis {
        width: 100%;
        background-color: white;
        text-align: center;
    }

    #thesis h2{
        color: #4F4F4F;
        font-size: 2rem;
        margin-top: 2rem;
    }

    #thesis-flex{
        width: 100%;
    }

/* LEFT BANNER */

    #thesis-banner {
        flex-direction: column;
        text-align: left;
        max-width: 60%;
        padding: 2rem 1.5rem;
        color: #4F4F4F;
    } 
    
    #thesis-video video{
        max-width: 100%;
    }

    #video-title {
        font-size: 1.75rem;
        max-width: 100%;
        margin-top: 1.5rem;
    }

    #thesis-banner p{
        max-width: 100%;
        margin-top: 0.5rem;
        margin-right: 1.5rem;
        font-size: 1.25rem;
    }

/* RIGHT MENU SECTION */

    #thesis-menu {
        max-width: 40%;
        flex-direction: column;
        margin-top: 1rem;
    }

    .thesisitem{
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        color: #4F4F4F;
        text-decoration: none;
    }

    .thesis-image-desktop {
        width: 35%;
        margin: 1rem;
        flex-grow: 1;
    }

    .thesis-image-desktop img {
        max-width: 100%;
    }

    .thesisitem-content {
        width: 65%;
        text-align: left;
        padding: 0 1rem;
    }

    .thesisitem-content h4{
        font-size: 1.5rem;
    }

    .thesisitem-content p{
        font-size: 0.9rem;
        font-weight: lighter;
        margin: 0.5rem 0;
    }

}

/* MOBILE VERSION */

@media screen and (max-width: 720px) and (orientation:portrait){

    #thesis {
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 4rem 0;
    }

    #thesis h2{
        color: #4F4F4F;
        font-size: 8rem;
        margin: 4rem;
    }

    #thesis-flex{
        width: 100%;
    }

    #thesis-banner h2,
    #thesis-banner p{
        display:none;
    }

    #thesis-video video{
        max-width: 100%;
        margin-bottom: 6rem;
    }

    #thesis-menu{
        display: none;
    }
}


/* FOOTER SECTION */

footer {
    position: relative;
    top: 4rem;
    bottom: 0px;
}

/* DESKTOP VERSION */

@media screen and (min-width: 720px) and (orientation: landscape){

    footer {
        border-top: lightgrey solid 1px;
    }

    #desktop-footer{
        display: flex;
        align-items: flex-start;
        justify-items: space-between;
        width: 100%;
        height: 4rem;
        max-width: 1920px;
        background-color: white;
        padding-top: 1rem;
        color: #4F4F4F;
        font-size: 0.75rem;
    }

    #desktop-footer a {
        text-decoration: none;
        color: #4F4F4F;
    }

    #desktop-footer p{
        margin-left: 1.5rem;
    }

    #terms {
        margin-left: auto;
        margin-right: 1.5rem;
        text-align: right;
    }

    #terms li{
        display: inline-block;
        list-style-type: none;
        padding-left: 1rem;
    }
}

/* MOBILE VERSION */

@media screen and (max-width: 720px) and (orientation: portrait){

    #desktop-footer{
        display: flex;
        align-items: center;
        justify-items: space-between;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 0 2rem 4rem 2rem;
        color: #4F4F4F;
        font-size: 3rem;
    }

    #terms {
        display: none;
    }

}